@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");


:root {
  --primary-color: #0C1A26;
  --primary-color-hover: #0A1720;
  --primary-color-dark: #071119;
  
  --secondary-color: #C6BEA8;
  --primary-background-color: #F2F2F2;
  --accent-color: #BC6868;
  --neutral-dark: #4E4E4E;
  --neutral-light: #F2ECEB;
  --neutral-color: #bdc3c7;
  --success-color: #4CAF50;
  /*Delete button color*/
  --danger-color: #E74C3C;
  --danger-color-hover: #C0392B;
  /*Edit button color*/
  --edit-color: #3498db;
  --edit-color-hover: #2980b9;
  /*Details button color*/
  --details-color: #f39c12;
  --details-color-hover: #f1c40f;
  /*Export button color*/
  --export-color: #27ae60;
  --export-color-hover: #2ecc71;
  /*PDF export button color*/
  /* rojo para el pdf y naranja para el xml */
  --pdf-export-color: #e74c3c;
  --pdf-export-color-hover: #c0392b;
  /*XML export button color*/
  --xml-export-color: #EF9E46;
  --xml-export-color-hover: #E08E3A;
  /* Send to invoice */
  --send-invoice-color: #F1C40F;
  --send-invoice-color-hover: #F39C12;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--neutral-dark);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  &:focus {
    border: 2px solid var(--primary-background-color);
    box-shadow: 0px 0px 10px 0px rgba(29, 28, 59, 0.3);
    outline: none;
  }
}