.nav {
  color: rgb(28, 45, 56);
  width: 235px;
  height: 100%;
  background-color: #f1f1f1;
  left: 0px;
  padding: 0px 0px 40px;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: fixed;
}

ul {
  margin-top: 0;
}

.left-side-nav-container .side-nav-group-header-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 16px 12px 8px;
}

.left-side-nav-container .side-nav-group-header-label span {
  display: inline-flex;
}

.left-side-nav-container .side-nav-group-header-label p {
  margin: 0 0 0 8px;
  font-family: "Euclid Circular A", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: inherit;
}

li {
  list-style-type: none;
}

.menu-group-label {
  padding-left: 0;
}

.menu-group-label a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.menu-group-label a.active {
  background-color: var(--primary-color);
  color: white;
}